<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title%}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        <div class="site-wrap">
            <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>
            <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
                <div class="container-fluid">
                    <div class="d-flex align-items-center">
                        <div class="site-logo mr-auto"><a href="/"><img src="{{ url_for('static', filename='images/tega-toolkit-logo.png') }}" style="width: 400px"></a></div>
            
                        <div class="mx-auto text-center">
                            <nav class="site-navigation position-relative text-right" role="navigation">
                            </nav>
                        </div>
            
                        <div class="ml-auto w-25">
                            <nav class="site-navigation position-relative text-right" role="navigation">
                                <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                    {% if not current_user.is_authenticated %}
                                        {% if not request.endpoint == 'login' %}
                                            <li class="cta"><a href="{{ url_for('login') }}" class="nav-link"><span>Login</span></a></li>
                                        {% endif %}
                                    {% else %}
                                        <li class="cta" style="position: relative; top:5px;"><span><img src="{{ current_user.profile_pic }}" style="width:50px; border-radius: 25px;"></img></span></li>
                                        <li class="cta"><a href="{{ url_for('logout') }}" class="nav-link"><span>Logout</span></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
                        </div>
                  </div>
                </div>
            </header>
            <container id="page-content">
                <div class="intro-section" id="home-section">
                    {% block content %}
                    {% endblock content %}
                </div>
            </container>
            {% block footer %}
            {% endblock footer %}
        </div> <!-- .site-wrap -->

        <!-- Contact Us Modal -->
        <div class="modal" tabindex="-1" role="dialog" id="contactUsModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Contact Us</h5>
                        <button type="button" class="close" onclick="closeContactModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please fill in the contact form below, we endeavour to respond in 48 hours.</p>
                        <form>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message</label>
                                <textarea rows="5" class="form-control" id="exampleInputPassword1"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" onclick="closeConfirmModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="confirmModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm account.</h5>
                        <button type="button" class="close" onclick="closeConfirmModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Thank you for signing up!</p>
                        <p>Please check your emails to confirm your account before logging in.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeConfirmModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="no-mobile-users-div" style="display:none; height:100vh;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-centered">
                        <img src="{{ url_for('static', filename='images/tega-toolkit-logo.png') }}" style="width: 400px">
                    </div>
                    <div class="col-md-12 col-centered">
                        <p>Sorry, this site is not available on mobile devices.<br/>Please use a desktop or laptop computer to access this site.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <!-- JQuery JavaScript -->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
        <!-- Custom JavaScript -->
        <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
        <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>