{% extends 'base.html' %}
{% block title %}{% endblock title%}
{% block content %}
<div class="intro-section" id="home-section">
    <div class="slide-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4 dashboard-container-left">
                    <div id="player-profile">
                        <h3>Identify player profile</h3>
                    </div>
                    <hr>
                    <div id="learner-topolgy">
                        <h3>Identify learner topology</h3>
                        </div>
                    <hr>
                    <div id="characteristics">
                        <h3>Characteristics of a game</h3>
                    </div>
                    <hr>
                    <div id="theoretical-foundation">
                        <h3>The<oretical foundation</h3>
                    </div>
                </div>
                <div class="col-4 dashboard-container-right">
                    <h3>RIGHT</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}