{% extends 'base.html' %}
{% block title %}{% endblock title%}
{% block content %}
<div class="intro-section" id="home-section">
    <div class="slide-1" style="background-image: url('static/images/background.jpg');" data-stellar-background-ratio="0.5" alt="Credit to Aksel Fristrup">
        <div class="container">
            <div class="row centered-div">
                <div class="col-sm-12">
                    <div class="ml-auto aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
                        <form action="" method="post" class="form-box">
                            <h1 style="color:black; text-align: center;">Dashboard</h1>
                            <div class="col-sm-4" style="height: 387px; overflow-y: scroll; direction: rtl;">
                                <ul class="list-group" style="direction: ltr;">
                                    <li class="list-group-item active" aria-current="true">Learner topolgy</li>
                                    <li class="list-group-item">Scope and learning outcome</li>
                                    <li class="list-group-item">Characteristics and mechanics</li>
                                    <li class="list-group-item">Clean slate game</li>
                                    <li class="list-group-item">Game inclusivity and accessibility</li>
                                    <li class="list-group-item">Flow element in design</li>
                                    <li class="list-group-item">Instructions of the game</li>
                                    <li class="list-group-item">Game playability</li>
                                    <li class="list-group-item">Amendments based on feedback</li>
                                    <li class="list-group-item">Assessment criteria</li>
                                    <li class="list-group-item">TEGA database</li>
                                </ul>
                            </div>
                            <div class="col-sm-6"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}