{% extends 'base.html' %}
{% block title %}{% endblock title%}
{% block content %}
<div class="intro-section" id="home-section">
    <div class="slide-1" style="background-color: white;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-4">
            <div id="player-profile">
                <h3>Identify player profile</h3>
                <progress id="player-profile-progess" value="32" max="100"></progress>
            </div>
          </div>
          <div class="col-8">
            <h1>RIGHT</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}