{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="form" style="max-height: 51rem">
    <span class="form__title">Login</span>
    <form action="">
        <div class="form__input">
            <i class="ri-mail-line"></i>
            <input type="text" placeholder="Email">
            <span class="bar"></span>
        </div>
        <div class="form__input">
            <i class="ri-lock-line"></i>
            <input type="text" placeholder="Password">
            <span class="bar"></span>
        </div>
        <button type="submit" class="form__button">Login</button>
        <span class="form__switch">
            Don't have an account? <a href="/signup">Sign up</a>
        </span>
        <span class="form__switch">
            Reset your password <a href="/reset-password">here</a>
        </span>
    </form>
</div>
{% endblock %}