{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="form" style="max-height: 50rem">
    <span class="form__title">Reset Password</span>
    <form action="">
        <span class="form__switch">
            Please enter your email address and if this user exists, you will recieve a reset link.
        </span>
        <div class="form__input" style="padding-top: 20px;">
            <i class="ri-mail-line"></i>
            <input type="email" placeholder="Email">
            <span class="bar"></span>
        </div>
        <button type="submit" class="form__button">Reset password</button>
        <span class="form__switch">
            Already have an account? <a href="/signup">Login</a>
        </span>
    </form>
</div>
{% endblock %}