<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body style="font-family: sans-serif;">
    <div style="display: block; margin: auto; max-width: 600px;" class="main">
      <h1 style="font-size: 18px; font-weight: bold; margin-top: 20px">You successfully signed up to Tega Toolkit!</h1>
      <p>Please click the link below to confirm your email to start using Tega Toolkit.</p>
      <img alt="Inspect with Tabs" src="https://assets-examples.mailtrap.io/integration-examples/welcome.png" style="width: 100%;">
      <br />
      <a href="{{URL}}">Confirm Account</a>
      <br />
      <p>Kind regards,</p>
      <p>Tega - Support</p>
    </div>